# Virtual environments
.venv/
env/

# Cache
__pycache__/
*.pyc

# Databases & data
data/
*.db
*.sqlite3

# Secrets
.env

# Logs
*.log

# System / IDE
.DS_Store
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/
